<div class="banner-hero">
  <img loading="eager" src="{{ component.hero_4 }}" class="w-full object-contain rounded-md" height="300" width="1200" alt="{{store.name}} />    
    <h3>{{ component.hero_1 }}></h3>
     <h3> {{ component.hero_2 }}</h3>
       <span>{{ component.hero_3_url }}></span>
  </div>