<div class="banner-hero">
  <img src="{{ component.hero_4 }}" alt="{{store.name}}">    
  <div class="overlay-banner-hero"> 
  <h3>{{ component.hero_1 }}</h3>
     <h1> {{ component.hero_2 }}</h1>
      <span><a href="{{component.hero_3 }}">shop now</a></span> 
       </div>
</div>
<style>
.banner-hero img{
    width:100%;
    height:100%;
}
.banner-hero{
    position:relative;
} 
.overlay-banner-hero{
    position:absolute;
    left: 10%;
    top:40%;
    width: 90%;
}
.overlay-banner-hero h3{
    font-size:18px;
    color: #fff;
    padding-bottom: 10px;
    text-align: left;
}
.overlay-banner-hero h1{
font-size: 76px;
    font-weight: 800;
    color: #fff;
    width: 56%;
    text-align: left;
    float: left;
    line-height: 69px;
}
.overlay-banner-hero span{
    width: 100%;
    float: left;
        margin-top: 30px;
    text-align: left;
}
.overlay-banner-hero span a{
    color: #fff;
    background: #F7658F;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 22px;
    height: 46px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
}
</style>